### Функции




Функция это блок организованного, многократно используемоего кода, который используется для выполнения конкретного задания. Функции обеспечивают лучшую модульность приложения и значительно повышают уровень повторного использования кода.

**Функция** — это мини-программа внутри вашей основной программы, которая делает какую-то одну понятную вещь. 

Вы один раз описываете, что это за вещь, а потом ссылаетесь на это описание.

Например, вы пишете игру. Каждый раз, когда игрок попадает в цель, убивает врага, делает комбо, заканчивает уровень или падает в лаву, вам нужно добавить или убавить ему очков. 

Это делается двумя действиями: к старым очкам добавляются новые, на экран выводится новая сумма очков. Допустим, эти действия занимают 8 строк кода.

Допустим, в игре есть 100 ситуаций, когда нужно добавить или убавить очки — для каждого типа врага, преграды, уровня и т. д.

Чтобы в каждой из ста ситуаций не писать одни и те же восемь строк кода, вы упаковываете эти восемь строк в функцию. И теперь в ста местах вы пишете одну строку: например, changeScore(10) — число очков повысится на 10.

Если теперь изменить, что происходит в функции changeScore(), то изменения отразятся как бы во всех ста местах, где эта функция вызывается.

Подробнее: https://zen.yandex.ru/media/code/funkcii-zachem-oni-nujny-i-kak-ih-pisat-chtoby-vas-uvajali-programmisty-5ca1d42ed959dc00b319b8ba

Пригодится в занятии

http://pythontutor.com/

### Создание функции

Существуют некоторые правила для создания функций в Python:

+ Блок функции начинается с ключевого слова def, после которого следуют название функции и круглые скобки ()

+ Любые аргументы, которые принимает функция должны находиться внутри этих скобок.

+ После скобок идет двоеточие ( : ) и с новой строки с отступом начинается тело функции.

In [3]:
def myfunction():
    print('то же самое')
    
myfunction()

то же самое

In [4]:
def myfunction(arg):
    return arg
    
print(myfunction('test'))

test

### Ключевое слово return

* Выражение return прекращает выполнение функции и возвращает указанное после выражения значение. 

* Выражение return без аргументов это то же самое, что и выражение return None. 

* Соответственно, теперь становится возможным, например, присваивать результат выполнения функции какой либо переменной.

In [10]:
def bigger(a,b):
    if a > b:
        return a # Если a больше чем b, то возвращаем b и прекращаем выполнение функции
    return b # Незачем использовать else. Если мы дошли до этой строки, то b, точно не меньше чем a
 
# присваиваем результат функции bigger переменной num
num = bigger(23,42)

num = 42 

print(num)

42

In [2]:
import random
def getAnswer(answerNumber):
  if answerNumber == 1:
    return 'It is certain'
  elif answerNumber == 2:
    return 'It is decidedly so'
  elif answerNumber == 3:
    return 'Yes'
  elif answerNumber == 4:
    return 'Reply hazy try again'
  elif answerNumber == 5:
    return 'Ask again later'
  elif answerNumber == 6:
    return 'Concentrate and ask again'
  elif answerNumber == 7:
    return 'My reply is no'
  elif answerNumber == 8:
    return 'Outlook not so good'
  elif answerNumber == 9:
    return 'Very doubtful'

print(getAnswer(random.randint(1, 9)))

Very doubtful

# Функции придают программе структуру

Польза функций не только в возможности многократного вызова одного и того же кода из разных мест программы. Не менее важно, что благодаря им программа обретает истинную структуру. Функции как бы разделяют ее на обособленные части, каждая из которых выполняет свою конкретную задачу.

Пусть надо написать программу, вычисляющую площади разных фигур. Пользователь указывает, площадь какой фигуры он хочет вычислить. После этого вводит исходные данные. Например, длину и ширину в случае прямоугольника. Чтобы разделить поток выполнения на несколько ветвей, следует использовать оператор if-elif-else:

In [5]:
figure = input("1-прямоугольник, 2-треугольник, 3-круг: ")
 
if figure == '1':
    a = float(input("Ширина: "))
    b = float(input("Высота: "))
    print("Площадь: %.2f" % (a*b))
elif figure == '2':
    a = float(input("Основание: "))
    h = float(input("Высота: "))
    print("Площадь: %.2f" % (0.5 * a * h))
elif figure == '3':
    r = float(input("Радиус: "))
    print("Площадь: %.2f" % (3.14 * r**2))
else:
    print("Ошибка ввода")

1-прямоугольник, 2-треугольник, 3-круг: 2
Основание: 2
Высота: 2
Площадь: 2.00

In [6]:
def rectangle():
    a = float(input("Ширина: "))
    b = float(input("Высота: "))
    print("Площадь: %.2f" % (a*b))
 
def triangle():
    a = float(input("Основание: "))
    h = float(input("Высота: "))
    print("Площадь: %.2f" % (0.5 * a * h))
 
def circle():
    r = float(input("Радиус: "))
    print("Площадь: %.2f" % (3.14 * r**2))
 
figure = input("1-прямоугольник, 2-треугольник, 3-круг: ")
if figure == '1':
    rectangle()
elif figure == '2':
    triangle()
elif figure == '3':
    circle()
else:
    print("Ошибка ввода")

1-прямоугольник, 2-треугольник, 3-круг: 2
Основание: 2
Высота: 2
Площадь: 2.00

Он кажется сложнее, а каждая из трех функций вызывается всего один раз. Однако из общей логики программы как бы убраны и обособлены инструкции для нахождения площадей. Программа теперь состоит из отдельных "кирпичиков Лего". В основной ветке мы можем комбинировать их как угодно. Она играет роль управляющего механизма.

Если нам когда-нибудь захочется вычислять площадь треугольника по формуле Герона, а не через высоту, то не придется искать код во всей программе (представьте, что она состоит из тысяч строк кода как реальные программы). Мы пойдем к месту определения функций и изменим тело одной из них.

Если понадобиться использовать эти функции в какой-нибудь другой программе, то мы сможем импортировать их туда, сославшись на данный файл с кодом

## Именованные аргументы

In [11]:
words = ["Welcome", "to", "Python"]
print(words)
print(*words, end="!!!!\n")
print(*words, sep="\n")
print(*words, )

['Welcome', 'to', 'Python']
Welcome to Python!!!!
Welcome
to
Python

### Аргументы функции в Python

Вызывая функцию, мы можем передавать ей следующие типы аргументов:

* Обязательные аргументы (Required arguments)
* Аргументы-ключевые слова (Keyword argument)
* Аргументы по умолчанию (Default argument)
* Аргументы произвольной длины (Variable-length argumens)

https://stackoverflow.com/questions/36901/what-does-double-star-asterisk-and-star-asterisk-do-for-parameters

In [9]:
"""Аргументы - ключевые слова используются при вызове функции. 
Благодаря ключевым аргументам, вы можете задавать произвольный 
(то есть не такой каким он описа при создании функции) порядок аргументов"""

def person(name, age):
    print(name, "is", age, "years old")
 
# Хотя в описании функции первым аргументом идет имя, мы можем вызвать функцию вот так
 
person(age=23, name="John")

John is 23 years old

In [11]:
#Аргумент по умолчанию, это аргумент, значение для которого задано изначально, при создании функции.

def space(planet_name, center="Star"):
    print(planet_name, "is orbiting a", center)
 
# Можно вызвать функцию space так:
space("Mars")
# В результате получим: Mars is orbiting a Star
 
# Можно вызвать функцию space иначе:
space("Mars", center="Black Hole")
# В результате получим: Mars is orbiting a Black Hole

Mars is orbiting a Star
Mars is orbiting a Black Hole

In [22]:
#Аргументы произвольной длины
arr = [1, 19, 123]

def unknown(*args):
    for argument in args:
        print(argument * 2)
 
# unknown("hello","world") # напечатает оба слова, каждое с новой строки
# unknown(1,2,3,4,5) # напечатает все числа, каждое с новой строки

unknown(*arr)

2
38
246

### Области видимости

Область видимости указывает интерпретатору, когда наименование (или переменная) видимо. Другими словами, область видимости определяет, когда и где вы можете использовать свои переменные, функции, и т.д. Если вы попытаетесь использовать что-либо, что не является в вашей области видимости, вы получите ошибку NameError.

Python содержит два  типа области видимости:

* Локальная область видимости
* Глобальная область видимости


Переменные объявленные внутри тела функции имеют локальную область видимости, те что объявлены вне какой-либо функции имеют глобальную область видимости.

Это означает, что доступ к локальным переменным имеют только те функции, в которых они были объявлены, в то время как доступ к глобальным переменным можно получить по всей программе в любой функции.

In [23]:
# глобальная переменная age
age = 44
 
def info():
    print(age) # Печатаем глобальную переменную age


def local_info():
    age = 22 # создаем локальную переменную age 
    print(age)
 
info() # напечатает 44
local_info() # напечатает 22

44
123

Важно помнить, что для того чтобы получить доступ к глобальной переменной, достаточно лишь указать ее имя. 

Однако, если перед нами стоит задача изменить глобальную переменную внутри функции - необходимо использовать ключевое слово global.

In [20]:
# глобальная переменная age
age = 13
 
# функция изменяющая глобальную переменную
def get_older():
    global age
    age += 1
 
print(age) # напечатает 13
get_older() # увеличиваем age на 1
print(age) # напечатает 14

13
14

Когда может стоять такая задача?

In [9]:
# глобальная переменная age
count = 1000
 
# функция изменяющая глобальную переменную
def func_one():
    global count
    count -= 500
    if count <=0:
        print('Вы не можете больше тратить')
    else:
        print('Вы потратили 500 рублей')

def func_two():
    global count
    count -= 1000
    if count <=0:
        print('Вы не можете больше тратить')
    else:
        print('Вы потратили 1000 рублей')
    
 
print(count) # напечатает 13
func_one() # увеличиваем age на 1
print(count) # напечатает 14
func_one()

1000
Вы потратили 500 рублей
500
Вы не можете больше тратить

In [16]:
len(globals())

45

In [15]:
len(locals())

43

Подробнеее о встроенных функциях

In [10]:
#print
words = ["Welcome", "to", "Python"]
print(words)
print(*words, end="!!!!\n")
print(*words, sep="\n")

['Welcome', 'to', 'Python']
Welcome to Python!!!!
Welcome
to
Python

In [22]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [23]:
def myfunction():
    "Это тестовое описание функции для урока"
    pass

# pass

Оператор-заглушка, равноценный отсутствию операции.
В ходе исполнения данного оператора ничего не происходит, поэтому он может использоваться в качестве заглушки в тех местах, где это синтаксически необходимо, например: в инструкциях, где тело является обязательным, таких как def, except и пр.

Зачастую pass используется там, где код пока ещё не появился, но планируется. Кроме этого, иногда, его используют при отладке, разместив на строчке с ним точку остановки.

In [14]:
#Обязательные аргументы функции:

'''Если при создании функции мы указали количество передаваемых ей аргументов и их порядок, 
то и вызывать ее мы должны с тем же количеством аргументов, заданных в нужном порядке'''



        


print(y)


x = 123123
# Корректное использование функции
 
# Некорректное использование функции
# bigger()
# bigger(3)
# bigger(12,7,3) 

def num(x):
    return x*5


y = bigger(10, num(4))
print(y)

20
20

function

In [24]:
help(myfunction)

Help on function myfunction in module __main__:

myfunction()
    Это тестовое описание функции для урока

## str()

In [25]:
version = 3
"Python " + str(version)

'Python 3'

## int()

In [25]:
program_name = "Python 3"
version_number = program_name.split()[-1]
int(version_number)

3

## float()

In [28]:
pi_digits = '3.141592653589793238462643383279502884197169399375'
float(pi_digits)

Help on class float in module builtins:

class float(object)
 |  float(x=0, /)
 |
 |  Convert a string or number to a floating point number, if possible.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Formats the float according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __round__(self, ndigits=None, /)
 |      Return the Integral closest to x, rounding half toward even.
 |
 |      When an argument is passed, work like built-in round(x, ndigits).
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(self, /)
 |      Return the Integral closest to x between 0 and x.
 |
 |  as_integer_ratio(self, /)
 |      Return integer ratio.
 |
 |      Return a pair of integers, whose ratio is exactly equal to the original float
 |      and with a positive denominator.
 |
 |      Raise OverflowError on infinities and a ValueError on NaNs.
 |
 |      >>> (10.0).as_integer_ratio()
 |      (10, 1)
 |      >>> (0.0).as_integer_ratio()
 |      (0, 1)
 |      >>> (-.25).as_integer_ratio()
 |      (-1, 4)
 |
 |  conjugate(self, /)
 |      Return self, the complex conjugate of any float.
 |
 |  hex(self, /)
 |      Return a hexadecimal representation of a floating-point number.
 |
 |      >>> (-0.1).hex()
 |      '-0x1.999999999999ap-4'
 |      >>> 3.14159.hex()
 |      '0x1.921f9f01b866ep+1'
 |
 |  is_integer(self, /)
 |      Return True if the float is an integer.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __getformat__(typestr, /) from builtins.type
 |      You probably don't want to use this function.
 |
 |        typestr
 |          Must be 'double' or 'float'.
 |
 |      It exists mainly to be used in Python's test suite.
 |
 |      This function returns whichever of 'unknown', 'IEEE, big-endian' or 'IEEE,
 |      little-endian' best describes the format of floating point numbers used by the
 |      C type named by typestr.
 |
 |  __set_format__(typestr, fmt, /) from builtins.type
 |      You probably don't want to use this function.
 |
 |        typestr
 |          Must be 'double' or 'float'.
 |        fmt
 |          Must be one of 'unknown', 'IEEE, big-endian' or 'IEEE, little-endian',
 |          and in addition can only be one of the latter two if it appears to
 |          match the underlying C reality.
 |
 |      It exists mainly to be used in Python's test suite.
 |
 |      Override the automatic determination of C-level floating point type.
 |      This affects how floats are converted to and from binary strings.
 |
 |  fromhex(string, /) from builtins.type
 |      Create a floating-point number from a hexadecimal string.
 |
 |      >>> float.fromhex('0x1.ffffp10')
 |      2047.984375
 |      >>> float.fromhex('-0x1p-1074')
 |      -5e-324
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  real
 |      the real part of a complex number

In [31]:
a = enumerate([1, 2, 3])
list(a)

[(0, 1), (1, 2), (2, 3)]

## zip

In [ ]:


Эта функция ещё более специализирована, чем enumerate.
Zip используется для перебора сразу нескольких объектов одновременно.

one_iterable = [2, 1, 3, 4, 7, 11]
another_iterable = ['P', 'y', 't', 'h', 'o', 'n']
for n, letter in zip(one_iterable, another_iterable):
    print(letter, n)


По сравнению с enumerate, последняя функция удобна, когда нужна индексация во время цикла.
Если нужно обрабатывать несколько объектов одновременно, zip предпочтительнее enumerate.

## reversed

In [34]:

#Функция reversed, как enumerate и zip, возвращает итератор.

numbers = [2, 1, 3, 4, 7]
print(reversed(numbers))

#Единственное, что можно сделать с этим итератором, пройтись по нему (но только один раз).

reversed_numbers = reversed(numbers)
print(list(reversed_numbers))
print(list(reversed_numbers))


#Подобно enumerate и zip, reversed является своего рода вспомогательной функцией в циклах. 
#Её использование можно увидеть исключительно в цикле for.

<list_reverseiterator object at 0x0000017362455948>
[7, 4, 3, 1, 2]
[]

## lambda, map, filter

lambda оператор или lambda функция в Python это способ создать анонимную функцию, то есть функцию без имени. 

Такие функции можно назвать одноразовыми, они используются только при создании.

Как правило, lambda функции используются в комбинации с функциями filter, map, reduce.

In [1]:
lambda arguments: expression

In [2]:
multiply = lambda x,y: x * y
multiply(21, 2)

42

В Python функция map принимает два аргумента: функцию и аргумент составного типа данных, например, список. 

map применяет к каждому элементу списка переданную функцию. 

Например, вы прочитали из файла список чисел, изначально все эти числа имеют строковый тип данных, чтобы работать с ними - нужно превратить их в целое число:

In [3]:
old_list = ['1', '2', '3', '4', '5', '6', '7']
 
new_list = []
for item in old_list:
    new_list.append(int(item))
 
print(new_list)

[1, 2, 3, 4, 5, 6, 7]

In [32]:
old_list = ['1', '2', '3', '4', '5', '6', '7']

new_list = [int(x) for x in old_list]
new_list

[1, 2, 3, 4, 5, 6, 7]

In [12]:
old_list = ['1', '2', '3', '4', '5', '6', '7']
new_list = list(map(lambda x: int(x)*5, old_list))
new_list

[5, 10, 15, 20, 25, 30, 35]

In [ ]:
new_list = list(map(int, old_list))
print(new_list)

Как видите такой способ занимает меньше строк, более читабелен и выполняется быстрее. map также работает и с функциями созданными пользователем:

In [7]:
def miles_to_kilometers(num_miles):
    """ Converts miles to the kilometers """
    return num_miles * 1.6
 
mile_distances = [1.0, 6.5, 17.4, 2.4, 9]
kilometer_distances = list(map(miles_to_kilometers, mile_distances))
print(kilometer_distances)

[1.6, 10.4, 27.84, 3.84, 14.4]

In [34]:
mile_distances = [1.0, 6.5, 17.4, 2.4, 9]
kilometer_distances = list(map(lambda x: x * 1.6, mile_distances))
 
print (kilometer_distances)

[1.6, 10.4, 27.84, 3.84, 14.4]

Функция map может быть так же применена для нескольких списков, в таком случае функция-аргумент должна принимать количество аргументов, соответствующее количеству списков:

In [11]:
l1 = [1,2,3]
l2 = [4,5,6]
 
new_list = list(map(lambda x,y: x + y, l1, l2))
print (new_list)

[5, 7, 9]

Если же количество элементов в списках совпадать не будет, то выполнение закончится на минимальном списке:

In [12]:
l1 = [1,2,3]
l2 = [4,5]
 
new_list = list(map(lambda x,y:  + y, l1, l2))
 
print (new_list)

[4, 5]

Функция filter предлагает элегантный вариант фильтрации элементов последовательности. Принимает в качестве аргументов функцию и последовательность, которую необходимо отфильтровать:

In [36]:
mixed = ['мак', 'молоко', 'банан', 'мороженое', 'мясо', 'греча', 'кура', 'апельсин']
zolushka = list(filter(lambda x: x.startswith('м'), mixed))
 
print (zolushka)

['мак', 'молоко', 'мороженое', 'мясо']

### Применение функций в Pandas

In [27]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/alnagaev/landing/master/train.csv')

In [28]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Создаем новый столбец с информацией о том, был ли пассажир на борту один или с родственниками

Столбец должен содержать значение "alone", если он был на борту один (без супруга/супруги, братьев, сестер, детей и родителей) и значение "not alone", если пассажир путешествовал с кем-то из родственников

In [30]:
# Способ 1: с помощью именной функции и apply
def alone_check(row):
    if row['SibSp'] or row['Parch'] > 0:
        return 'not_alone'
    else:
        return 'alone'
    
df['Alone'] = df.apply(alone_check, axis=1)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Alone
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,not_alone
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,not_alone
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,alone
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,not_alone
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,alone
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,alone
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,alone
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,not_alone
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,alone
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,alone

In [31]:
df['Fare'].apply(lambda x: x*5)

0       36.2500
1      356.4165
2       39.6250
3      265.5000
4       40.2500
         ...
886     65.0000
887    150.0000
888    117.2500
889    150.0000
890     38.7500
Name: Fare, Length: 891, dtype: float64

In [19]:
# Способ 2: с помощью lambda-функции
df.drop('Alone', axis=1, inplace = True)

df['Alone'] = df.apply(lambda x: 'not_alone' if x['SibSp'] or x['Parch'] > 0 else 'alone', axis = 1)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Alone
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,not_alone
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,not_alone
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,alone
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,not_alone
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,alone
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,alone
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,alone
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,not_alone
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,alone
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,alone